@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(224, 196, 172);
    background-image: url("img/ovillos fondo 2.jpg");
    font-family: 'Manjari', sans-serif;
}

.title h1{
    background-color: rgb(224, 196, 172);
    margin: 20px 90px;
    padding: 20px 0;
    text-align: center;
    font-size: 2.9em;
    animation: title 3s linear 0s 1;
}

@keyframes title{
    0% {width: 30%; background-color: rgba(224, 196, 172, 0.233);}
    50%{width: 60%;background-color: rgba(224, 196, 172, 0.63);}
    100%{width: 85%;background-color: rgb(224, 196, 172);}
}

div {
    text-align: center;
    border-radius: 15px;
    padding: 15px
}

input, [type=tel], [type=email], [type=text] {
    width: 50%;
    padding: 15px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

input [type=submit] {
    background-color: lightseagreen;
    cursor: pointer;
    width: 50%;
    padding: 15px 15px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 8px;
    box-sizing: border-box;
}

label {
    width: 50%;
    padding: 5px 5px;
    margin: 4px 0;
    display: inline-block;
    border-radius: 8px;
    box-sizing: border-box;
}


